[tox]
min_version = 4.0
env_list = py39
isolated_build = true
skip_missing_interpreters = true

[testenv]
deps =
    pytest
    pytest-cov

setenv =
   SLACK_TOKEN_VERIFICATION_ENABLED = false
   {{slackbot_name | regex_replace("-", "_") |upper}}_TOKEN = deadbeef
   {{slackbot_name | regex_replace("-", "_") |upper}}_SIGNING_SECRET = deadbeef

commands = pytest tests

[pytest]
addopts = --doctest-modules src/
