from {{package_name}}.bot import command_help


respond_args = None
def respond(*args, **kwargs):
    global respond_args
    respond_args = (args, kwargs)

def test_command_help():
    """
    tests the command_help function
    """
    command_help(respond=respond)
    args, kwargs = respond_args

    expect = "Please add the commands available."
    assert args and expect == args[0].strip()